<div class="app-container">
    <nav class="navbar">
        <ul>
          <li><a routerLink="login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="forgotpassword" routerLinkActive="active">Forgot Password?</a></li>
          <li><a routerLink="user" routerLinkActive="active">User</a></li>
        </ul>
    </nav>
    
    <router-outlet></router-outlet>


      <app-login></app-login>
      <app-register></app-register>
      <app-forgot-password></app-forgot-password>
      <app-user></app-user>
  </div>
  